:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

.content {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2% 2% 2% 2%;
}

.card-perfil {
    background-color: var(--bg-cards);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 350px;
    padding: 2% 2% 0 2%;
    border-radius: 4%;
}

.card-body #profissao {
    font-size: 12px;
}

#card-img {
    width: 50%;
    border-radius: 50%;
}

img {
    max-width: 100%;
}

.card-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    width: 350px;
    padding: 2% 2% 2% 2%;
    background-color: var(--bg-cards);
    border-radius: 4%;
    margin: 2% 0;
}

.card-links a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    margin: 2% 0;
}

.card-links i {
    color: var(--text-color);
    letter-spacing: 25px;
    font-size: 17px;
}

.card-tecno {
    background-color: var(--bg-cards);
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding: 2% 2% 2% 2%;
    border-radius: 4%;
}

.grid-container {
    display: grid;
    column-gap: 35px;
    grid-template-columns: auto auto auto;
    padding: 4% 0;
}

.grid-item {
    background-color: var(--bg-techs);
    color: black;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 0 10px 0 10px;
    border-radius: 30px;
}

.card-projetos{
    background-color: var(--bg-cards);
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    padding: 2% 2% 2% 2%;
    border-radius: 4%;
}