:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.item {
    width: 50%;
}

.card-perfil {
    background-color: var(--bg-cards);
    color: var(--text-color);
    width: 350px;
    text-align: center;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

#card-img {
    width: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.card-links {
    background-color: var(--bg-cards);
    color: var(--text-color);
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

.card-links a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    margin: 10px;
}

.card-links i {
    color: var(--text-color);
    padding-right: 25px;
    font-size: 17px;
}

.card-tecno {
    background-color: var(--bg-cards);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

.grid-container {
    display: grid;
    column-gap: 35px;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.grid-item {
    background-color: var(--bg-techs);
    color: black;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 0 10px 0 10px;
    border-radius: 30px;
}

.card-projetos {
    background-color: var(--bg-cards);
    color: var(--text-color);
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 350px;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

.card-projetos a {
    color: var(--text-color);
    align-items: center;
}

.card-projects {
    display: flex;
    width: 146%;
    position: relative;
    top: -250px;
    right: 347px;
    padding: 20px;
}

.project-single {
    background-color: var(--bg-cards);
    color: var(--text-color);
    width: 100%;
    font-size: 12px;
    padding: 7px;
    margin: 3% 0.5%;

    border-radius: 15px;
}

.project-single p {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

.project-single i {
    color: var(--text-color);
    font-size: 12px;
    margin: 2%;
}

.card-post {
    background-color: var(--bg-cards);
    color: var(--text-color);
    display: flex;
    width: 140%;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -350px;
    right: 347px;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

.card-p {
    background-color: var(--bg-cards);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 140%;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -400px;
    right: -390px;
    padding: 20px;
    margin: 3%;
    border-radius: 15px;
}

#img-post{
    width: 100px;
    border-radius: 15px;
}
.card-p p{
    margin: 10px;
    font-size: 14px;
}
@media screen and (max-width:768px) {
    .card-perfil {
        width: 100%;
    }
}